.card-movie {
    padding: .8rem;
    border-radius: .5rem;
}

.card-inf {
    margin: .8rem;
}
.card-movie:hover{
    background-color: rgba(0,0,0,0.9);
    transform: scale(1.1);
    transition: 0.5s;
}
.card-image {
    width: 100%;
    border-radius: .5rem;
}
.icon-heart {
    color: red;
}
.icon-heart-empty {
    color: white;
}
.card-title-custom {
    display: flex;
    justify-content: space-between;
}
.card-play{
    display: flex;
    justify-content: center;
}