.height{
    height: 100%;
    margin-bottom: 20px;
}
.container-custom{
    display: flex;
    justify-content: space-around;
}
.link{
    text-decoration: none;
    color: black;
    margin: 0 5px;
}
