.carouselSize{
    margin-left: 22%;
    width: 650px;
    height: auto;
    border-radius: 1rem;
}
@media screen and (max-width: 2150px){
    .carouselSize{
        margin-left: 18%;
        width: 850px;
    }   
}
@media screen and (max-width: 1395px){
    .carouselSize{
        margin-left: 16%;
        width: 750px;
    }   
}
@media screen and (max-width: 1195px){
    .carouselSize{
        margin-left: 15%;
        width: 650px;
    }   
}
@media screen and (max-width: 1175px){
    .carouselSize{
        margin-left: 18%;
    }   
}
@media screen and (max-width: 1075px){
    .carouselSize{
        margin-left: 16%;
    }   
}
@media screen and (max-width: 990px){
    .carouselSize{
        margin-left: 7%;
        width: 600px;
    }   
}
@media screen and (max-width: 770px){
    .carouselSize{
        margin-left: 6%;
        width: 455px;
    }   
}
@media screen and (max-width: 575px){
    .carouselSize{
        margin-left: 11%;
        width: 425px;
    }   
}
@media screen and (max-width: 490px){
    .carouselSize{
        margin-left: 7%;
        width: 400px;
    }   
}
@media screen and (max-width: 420px){
    .carouselSize{
        margin-left: 5%;
        width: 350px;
    }   
}